@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<div class="text-center">
    <h1 class="display-4">@Localizer["GreetingMessage"]</h1>
</div>

