html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.vh-80 {
    height: 80vh !important;
}

.main {
    min-height: 88vh !important;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.image-profile {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.image-mini {
    width: 19px;
    height: 19px;
    object-fit: cover;
}

.default-page {
    max-width: 900px;
    margin-top: 80px !important
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.5);
    border-radius: 4px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(120, 120, 120, 1);
    }


